<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Events</title>
</head>

<body>

<h2>Events</h2>

<a href="/events/add">Create Event</a>

&nbsp;&nbsp;

<a href="/register">Register Participant</a>

<br><br>

<table border="1">

<tr>
<th>ID</th>
<th>Title</th>
<th>Capacity</th>
<th>Trainer</th>
<th>Participants</th>
<th>Action</th>
</tr>

{% for e in events %}

<tr>

<td>{{e.id}}</td>

<td>{{e.title}}</td>

<td>{{e.capacity}}</td>

<td>
{% if e.trainer %}
{{e.trainer.name}}
{% else %}
No Trainer
{% endif %}
</td>

<td>
<a href="/event/{{e.id}}/participants">
View Participants
</a>
</td>

<td>
<a href="/events/delete/{{e.id}}">Delete</a>
</td>

</tr>

{% endfor %}

</table>

</body>
</html>